.flower-shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    justify-content: center;
    background-color: #b2d599;
}

.flower-shop-item {
    outline: solid 1px #000;
    padding: 0rem 1rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color:#fff;
}

.flower-shop-item:hover {
    background-color: rgb(213, 240, 164);
    cursor: pointer;
}