.visual-bouquet {
  position: relative;
  display: inline-flex;
  width: 300px;
  height: 200px;
  margin-bottom: 4rem;
}

.focal-flowers {
  position: relative;
  width: 200px;
  /* Adjust the width as needed */
  height: 200px;
  /* Adjust the height as needed */
}

.focal-flowers img {
  position: absolute;
  width: 100%;
  height: auto;
}

.focal-flowers img:nth-child(3n + 1) {
  left: -10%;
  z-index: 2;
}

.focal-flowers img:nth-child(3n + 2) {
  left: 50%;
  z-index: 2;
}

.focal-flowers img:nth-child(3n + 3) {
  left: -60%;
  z-index: 2;
}

.filler-flowers {
  position: relative;
  width: 200px;
  /* Adjust the width as needed */
  height: 200px;
  /* Adjust the height as needed */
}

.filler-flowers img {
  position: absolute;
  width: 75%;
  height: auto;
  transform: translateY(60%);
  z-index: 3;
}

.filler-flowers img:nth-child(3n + 1) {
  left: 100%;
}

.filler-flowers img:nth-child(3n + 2) {
  left: 160%;
}

.filler-flowers img:nth-child(3n + 3) {
  left: 40%;
}

.foliage-flowers {
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 1;
}

.foliage-flowers img {
  position: absolute;
  width: auto;
  height: 75%;
  left: -50%;
}

.foliage-flowers img:nth-child(4n + 1) {
  transform: scaleX(-1);
}

.foliage-flowers img:nth-child(4n + 2) {
  transform: translateX(-100%);
}

.foliage-flowers img:nth-child(4n + 3) {
  transform: translateY(80%) scale(-0.7, 0.7);
}

.foliage-flowers img:nth-child(4n + 4) {
  transform: translateX(-90%) scale(0.7, 0.7) translateY(80%);
}

.flower-container img {
  position: absolute;
  width:55%;
  height: auto;
  top: 4rem;
  left: 3.5rem;
  margin-bottom: 3rem;
  z-index: 5;
}